<h1>Add user</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline my-2 my-lg-0" method="POST" action="/user/adduser">
    <div class="form-group">
        <input class="form-control mr-sm-2" name="id" type="search" placeholder="Search users" aria-label="Add id">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</form>
